.vehicle-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    grid-auto-columns: minmax(max-content, 300px);
}

.vehicle-display {
    border: 2px solid green;
    border-radius: 5px;
}

.vehicle-display-details {
    padding-left: 10px;
}